force-app/main/default/flows/AI_Generated_Flow_for_elementos_del_feed_chatter_desde_un_Id_del_parentId.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_Body_a_una_coleccion</name>
        <label>Asignar Body a una coleccion</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_textBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agregar_Elementos_al_caso</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>AI Generated flow for elementos del feed (chatter) desde un Id del parentId...</description>
    <environments>Default</environments>
    <interviewLabel>AI Generated Flow for elementos del feed (chatter) desde un Id del parentId...</interviewLabel>
    <label>AI Generated Flow for elementos del feed (chatter) desde un Id del parentId...</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>GptId</name>
        <value>
            <stringValue>04012ec9-60f0-4260-8687-0157a359ffb0</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>GptLlmIds</name>
        <value>
            <stringValue>[&quot;ba64b144-26ff-4157-8a35-8e527b5fecd6&quot;]</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtener elementos del feed (chatter) desde un Id del parentId pasado por parametro</description>
        <name>Get_Chatter_Records</name>
        <label>Get Chatter Records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agregar_Elementos_al_caso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Chatter_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Agregar_Elementos_al_caso</name>
        <label>Agregar Elementos al caso</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Asignar_Body_a_una_coleccion</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Chatter_Records[$EachItem].Body</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_textBody</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
