force-app/main/default/flows/Daily_Time_Submission_Anomaly_Audit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Time_Entry_Audit_Data</name>
        <label>Time Entry Service API (External System)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TimeEntryAuditQueryService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Time_Audit_with_Management_Assistant</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>entryDateFrom</name>
            <value>
                <elementReference>var_today</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>entryDateTo</name>
            <value>
                <elementReference>var_todayplus1</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TimeEntryAuditQueryService</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_audit_json</assignToReference>
            <name>auditJson</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_error_message</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_record_count</assignToReference>
            <name>recordCount</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Time_Audit_with_Management_Assistant</name>
        <label>Send Time Audit with Management Assistant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Agentforce_Management_Assistant</actionName>
        <actionType>generateAiAgentResponse</actionType>
        <dataTypeMappings>
            <apexClass>AgentInvAction__AIAgentCompositeDefault</apexClass>
            <typeName>U__agentResponseApex</typeName>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <stringValue>AUTOMATION_DAILY_TIME_AUDIT
TargetChannelId: C0ANYUUACQ0
ReportDate: {!var_today}
ReportDateEnd: {!var_todayplus1}
RecordCount: {!var_record_count}
AuditDataSource: Apex_TimeEntryAuditQueryService
ErrorFromApex: {!var_error_message}

The Flow already loaded Salesforce data via Apex (Time_Entry__c, Project_Assignment__c, Project__c, Account, Opportunity, assigned User). The JSON below is authoritative — use it for names, hours, caps, and Ids. Do not invent people, projects, or rows. If ErrorFromApex is non-empty, explain that error and do not fabricate audit data. If RecordCount is 0 or the JSON is an empty array, say there were no entries in this date window.

TimeEntryAuditJson:
{!var_audit_json}

Instructions: Follow topic Daily_Time_Audit_Slack — anomaly checks, trajectory, and one Slack post to TargetChannelId when there is something material. Use this JSON as the source of truth for time entries and assignments; you may still use Query Records only for Holiday and weekly Time_Entry__c burn (last 7 days) using ReportDate / ReportDateEnd literals and Ids from the JSON. Build Slack links from the topic BASE URL; human-readable names only in prose. Post the message without asking user confirmation!

</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Agentforce_Management_Assistant</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionString>1.1.0</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>var_today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>var_todayplus1</name>
        <dataType>Date</dataType>
        <expression>{!var_today}+ 1</expression>
    </formulas>
    <interviewLabel>Daily Time Submission Anomaly Audit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Daily Time Submission Anomaly Audit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Time_Entry_Audit_Data</targetReference>
        </connector>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Daily</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2026-03-27</startDate>
            <startTime>23:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_audit_json</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_error_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_record_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
